.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  z-index: 1000;
  background-color: var(--color-bg-soft);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

/* CONTAINER */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.header-inner {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 46px;
}

/* NAV DESKTOP */
.nav {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav a {
  position: relative;
  font-size: 0.95rem;
  text-decoration: none;
  color:var(--color-text-main);
  opacity: 0.75;
} 

.nav a:hover {
  color: #ffffff;
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
  transition: width 0.25s ease;
}

.nav a:hover::after {
  width: 100%;
}

.nav a:hover {
  opacity: 1;
}

/* BOTÃO */
.btn-header {
  display: inline-block;
  padding: 12px 26px;
  font-size: 0.85rem;
  font-weight: 700;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  text-decoration: none;

  color: #0b1124;
  background: #eee;
  border: none;

  border-radius: 999px;

  transition:
    all 0.3s ease;
}

.btn-header:hover {
  transform: translateY(-2px);
}

/* MENU TOGGLE */
.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-toggle span {
  width: 26px;
  height: 2px;
  background: #bbb;
  border-radius: 10px ;
}

.header-right a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.779);
}

/* MOBILE MENU */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 140px;
    
    background: #05070db6; 
    backdrop-filter: blur(15px);
    color: var(--color-text-main);
    
    transform: translateY(-100%); 
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 900;
}

.mobile-menu.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4rem;
    list-style: none;
}

.mobile-menu li {
    border-bottom: 1px solid var(--color-gold-soft);
}

.mobile-menu a {
    font-family: var(--font-secondary);
    font-size: 1.5rem; 
    color: var(--color-dark);
    font-weight: 400;
    text-decoration: none;
}

/* Animação botão hamburger */

/* 1. A linha de cima gira e desce */
.menu-toggle.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

/* 2. A linha do meio desaparece */
.menu-toggle.active span:nth-child(2) {
    opacity: 0;
    transform: translateX(-10px); /* Efeito de sair deslizando */
}

/* 3. A linha de baixo gira e sobe */
.menu-toggle.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
/* end animação reg */

/* ======================
   MOBILE
====================== */

@media (max-width: 768px) {

  body {
    padding-top: 40px;
  }

  .menu-toggle {
    display: flex;
  }

  .header-right {
    display: none;
  }

  .menu-toggle span {
  transition: transform 0.3s ease, opacity 0.2s ease;
  }

  .menu-toggle.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav, .btn-header {
    display: none;
  }

}