<section class="hero" id="home">
    <div class="hero-smoke"></div>
    
    <div class="hero-container">
      <div class="hero-left">
        
        <div class="hero-content container">
       <h1>
          Não entregamos sites.
          <span>Entregamos estrutura digital</span>
          para o seu negócio crescer.
        </h1>

        <p>
          Tecnologia bem pensada, design funcional e decisões estratégicas
          para fazer seu negócio avançar de verdade.
        </p>
        </div>
        <a href="#projeto" class="btn-hero">COMEÇAR HOJE MESMO</a>
      </div>
      
      <div class="hero-right">
        <div class="hero-card">
          <img src="components/assets/img/logo-6.png" alt="Elunix visual" />
        </div>
      </div>
    </div>
</section>

