<section class="hero" id="home">
    <div class="hero-smoke"></div>
    
    <div class="hero-container">
      <div class="hero-left">
        
        <div class="hero-content container">
       <h1>
          Não entregamos sites.
          <span>Construímos estruturas digitais</span>
          para o seu negócio crescer.
        </h1>

        <p>
        Tecnologia bem pensada, design funcional e decisões estratégicas
        para negócios que querem crescer com previsibilidade.
        </p>
        </div>
        <a href="#contato" class="btn-hero">INICIAR PROJETO</a>
      </div>
      
      <div class="hero-right">
        <div class="hero-card">
          <img src="/components/assets/img/logo-5.png" alt="Elunix visual" style="height: 200px;" />
        </div>
      </div>
    </div>
</section>

