<section class="hero">
  <div class="hero-smoke"></div>

  <div class="hero-container">
    <div class="hero-left">
      

       <div class="hero-content container">
    <h1>
      Não entregamos páginas.<span>Entregamos</span> autonomia digital.
    </h1>

    <p>
        
      Soluções digitais modernas para empresas que querem crescer com performance.
    </p>
  </div>

      <a href="#projeto" class="btn-hero">Start a project</a>
    </div>

    <div class="hero-right">
      <div class="hero-card">
        <img src="components/assets/img/logo-6.png" alt="Elunix visual" />
      </div>
    </div>
  </div>
</section>

