:root {

  --font-primary: 'Space Grotesk', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
 
  /* BACKGROUND */
  --color-bg-main: #05070d;
  --color-bg-soft: #020617;
  --color-bg-card: #0b1225;

  /* TEXT COLORS */
  --color-text-main: #f8fafc;
  --color-text-soft: rgba(248, 250, 252, 0.75);
  --color-text-muted: rgba(248, 250, 252, 0.55);

  /* BRAND COLORS */
  --color-primary: #3B82F6;   
  --color-secondary: #6D28D9; 
  --color-accent: #1E40AF;


  /* GRADIENTS */
  --gradient-primary: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-secondary)
  );

  /* BORDERS */
  --border-soft: 1px solid rgba(255,255,255,0.06);
  --border-accent: 1px solid rgba(125, 211, 252, 0.4);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

body {
    background-color: var(--color-bg-main);
    color: var(--color-text-main);
    line-height: 1.6;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

h1, h2, h3 {
    line-height: 1.1;
    letter-spacing: -0.02em; /* Traz seriedade e modernidade */
    color: var(--color-text-main);
    font-weight: 600;
}

h1 {
    font-size: clamp(2.5rem, 5vw, 4rem); 
}

h2 {
    font-size: clamp(2rem, 4vw, 3rem);
}

p {
    color: var(--color-text-soft);
    font-size: 1.125rem; 
    max-width: 65ch; 
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 4px; 
    transition: all 0.2s ease;
    cursor: pointer;
    font-size: 1rem;
}

.btn-primary {
    background: var(--color-primary);
    color: #fff;
    border: 1px solid transparent;
}

.btn-primary:hover {
    background: var(--color-accent);
    transform: translateY(-1px); 
}

.btn-ghost {
    background: transparent;
    border: var(--border-soft);
    color: var(--color-text-main);
}

.btn-ghost:hover {
    border-color: var(--color-text-soft);
    background: rgba(255,255,255,0.03);
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}